
#background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}
#form {
  height: 575px;
  width: 500px;
  border: 2px solid black;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  padding: 0px, 50px;
}
#inputError {
    color: red;
    font-family: sans-serif;
    height: 35px;
}
#submitButton   {
    margin-top: 60px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    border: none;
    margin-bottom: 22px;
    cursor: pointer;
}
#signUpTxt{
  font-family: sans-serif;
  margin-top: 20px;

}
