* {
  padding: 0;
  margin: 0;
}
#background {
  background-image: url("https://media.discordapp.net/attachments/909558988364976211/1026666323893301368/brooke-cagle-cb4Dv50LN1Y-unsplash_1.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#navBarBorder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navBar {
  width: 68px;
  height: 28px;
  font-family: sans-serif;
  color: #6d7d8b;
  padding-left: 30px;
}
.getAccess {
  width: 116px;
  height: 54px;
  font-family: sans-serif;
  color: #4da0fd;
  border: 2px solid #4da0fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
#instantText {
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 48px;
  height: 120px;
  width: 514px;
  padding-left: 124px;
  padding-top: 150px;
}
#text1 {
  padding-left: 124px;
  color: white;
  font-size: 18px;
  height: 58px;
  width: 323.85px;
  font-family: sans-serif;
  padding-top: 22px;
}
#emailInput {
  height: 56px;
  width: 316.92px;
  border-radius: 4px;
  margin-top: 84px;
  margin-left: 124px;
  padding-left: 16px;
  border: none;
}
#button1 {
  background-color: #0bbef2;
  height: 56px;
  width: 163.41px;
  margin-left: 13.8px;
  border: none;
  color: white;
}
#page2 {
  height: 100vh;
  width: 100vw;
  background-color: #f6f7fa;
}
#meetingImg {
  margin-left: 833px;
  position: absolute;
}

